:root {
  --color-gray--900: #181818;
  --color-gray--800: #242424;
  --color-gray--700: #282828;
  --color-gray--600: #343434;
  --color-gray--500: #4A4A4A;
  --color-gray--400: #818181;
  --color-gray--300: #AEAEAE;
  --color-gray--200: #CCCCCC;
  --color-gray--100: #FFFFFF;

  --color-turquoise--400: #19D8B4;
  --color-red--400: #D81919;
  --color-yellow--400: #E8E812;
  --color-blue--400: #19C4D8;

  --font-family: 'Montserrat', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray--900);
  color: var(--color-gray--200);
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: var(--color-turquoise--400);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray--100);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  width: 100%;
  height: .0625rem;
  background-color: var(--color-gray--500);
  margin-block: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Form elements */
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .25em;
  font-size: .85rem;
}

input,
select,
textarea {
  background-color: var(--color-gray--600);
  color: var(--color-gray--100);
  padding: .5em;
  border: none;
  border-radius: .25em;
  font-size: 1rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
}

input[type="color"] {
  width: 3rem;
  height: 3rem;
  border-color: transparent;
}

input[type="submit"],
input[type="button"],
input[type="color"],
button {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
  font-family: var(--font-family);
  font-weight: 500;
}

input[type="button"],
button {
  background-color: var(--color-gray--500);
  color: var(--color-gray--200);
}

input[type="submit"] {
  background-color: var(--color-turquoise--400);
  color: var(--color-gray--900);
}

input[readonly],
input[readonly="readonly"] {
  color: var(--color-gray--300);
  cursor: not-allowed;
}