.guild-header {
  display: flex;
  gap: 1rem;
  align-items: center;

  &__heading {
    margin-block-end: 0;
  }
}

.sections {
  display: grid;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.guild-stats {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .25rem;

  &__list-item {
    display: flex;
    gap: .5rem;
    font-size: .9rem;

    b {
      font-weight: 500;
      color: var(--color-gray--300);
    }
  }
}