.guild-stats {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .25rem;

  &__list-item {
    display: flex;
    gap: .5rem;
    font-size: .9rem;

    b {
      font-weight: 500;
      color: var(--color-gray--300);
    }
  }
}